h1 {
    background-color: #F2EEE2;
    margin-left: 20px;
}
body {
    background-color: #CF6766;
    margin-left: 20px;
 }
nav {
    background-color: #CF6766;
    margin-left: 20px;
}
h2 {
    background-color: #F2EEE2;
    margin-left: 20px;
}
p {
    background-color: #F2EEE2;
    margin-left: 20px;
}
div {
    background-color: #F2EEE2;
    margin-left: 20px;
}
